/* Estilos para la creacion del menu responsivo */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7lz346');
    src:  url('../fonts/icomoon.eot?7lz346#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7lz346') format('truetype'),
      url('../fonts/icomoon.woff?7lz346') format('woff'),
      url('../fonts/icomoon.svg?7lz346#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0 8px;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Iconos-total:before {
    content: "\e905";
    
  }
  .icon-social:before {
    content: "\e901";
    font-size: 3.3em;
  }
  .icon-instagram:before {
    content: "\e902";
  }
  .icon-brand1:before {
    content: "\e902";
    font-size: 3.3em;
  }
  .icon-social1:before {
    content: "\e902";
  }
  .icon-facebook:before {
    content: "\e903";
    font-size: 3.3em;
  }
  .icon-brand2:before {
    content: "\e903";
    font-size: 3.3em;
  }
  .icon-social2:before {
    content: "\e903";
  }
  .icon-twitter:before {
    content: "\e904";
    font-size: 3.3em;
  }
  .icon-brand3:before {
    content: "\e904";
  }
  .icon-tweet:before {
    content: "\e904";
  }
  .icon-social3:before {
    content: "\e904";
  }
  .icon-menu:before {
    content: "\e900";
  }
/* Fin del menu responsivo */


/* Creacion del body */
body
{
    /* se elige el estilo de fuente para todo el body, y sino no lo encuentra elija sans serife */
    font-family: 'Source sans pro', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Fjalla One', sans-serif;
    /* anchura del fuente */
    font-weight: normal;
    /* estilo de la fuente */
    /* font-style: italic; */
}
h1
{
    /* tamaño en pixeles del h1 */
    font-size: 40px;
    /* Altura de la linea */
    line-height: 1.5em;
    /* Espaciado entre letras */
    letter-spacing: -.2px;
    /* Indicando el color del h1 */
    color: white;
    margin: 0;
    /* margin: 100px 520px 150px 30px; */

    /* Transforma el texto, minuscula,mayusulas o iniciales de letras */
    /* text-transform: uppercase;
    /* Decorar el texto por colores o lineas */
    /* text-decoration: blue; */
}
/* Indicar los colores internos de color azul en el strong */
h1 strong
{
    color: #026fff;
}
h2
{
       /* titulo proyectos destacados colocando de color azul celeste */
    color: #026fff;
    /* cambiando fuente de minusculas a mayusculas */
    text-transform: uppercase;
    /* colocando fuente personalizado al titulo */
    font-family:'Source sans pro', sans-serif;
    font-weight: bold;
    /* tamaño de la fuente */
    font-size: 24px;
    margin-bottom: 40px;
}

/* Colocando hero de 300px de alto */
.hero
{
    height: 300px;
    background-color:#1b2127 ;
    /* usando flex para poner la imagen en horizontal */
    display: flex;
    /* aplicando el texto hacia el centro */
    align-items: center;
    justify-content: space-between;
    /* Modo responsivo */
    flex-wrap: wrap;
}
/* Arreglando la imagen del hero */
.hero-image
{
    object-fit: cover; 
}
/* colocando color de fondo a la clase portfolio */
.portfolio
{
    background: #fafafa;
    /* Dandole padding al titulo para que no este tan pegado de la esquina */
    padding: 20px;
}
/* Decorando la clase proyecto */
.project
{
    /* border-top:10px solid red;
    border-right:10px solid green;
    border-left:10px solid blue;
    border-bottom:10px solid blueviolet; */
    /* border: .5px solid fuchsia; */
    /* border-top-style: groove;
    border-top-color: fuchsia;
    border-top-width: 10px; */
    border: 1px solid gray;
    border-radius: 10px;
    /* Aplicando un margen hacia abajo para separar proyecto 1 del 2 */
    margin-bottom: 15px;
    padding: 20px;
    /* colocando color de fondo blanco */
    background: white;
    /* Aliniando descripcion con imagen con el display:flex  */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Añadiendo modo responsivo */
    flex-wrap: wrap;
}
/* alineando el titulo de platzi video */
.project-title
{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;

}
/* Alineando subtitulo de react native/react y tambien la fecha */

.project-course, .project-date, .project-url
{
    margin:10px 0;
}
/* Subiendo de fuente al parrafo  */
.project-description
{
    font-size: 20px;
}
.project strong
{
    font-family: 'Fjalla One', sans-serif;

}


/* detallando a la izquierda project-details */
.project-details
{
    width: 50%;
    
}
/* alinieando el image-contaimer a la derecha por medio del ancho */
.project-imageContainer
{
    width: 50%;
}
.project-imageContainer img 
{
    max-width: 100%;
    width: 100%;
}
/* Añadiendo color a la imagen y texto del hero */
.header
{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    /* Esto es para el modo responsivo */
    flex-wrap: wrap;
}
/* Organizando ol y ul */
ol, ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu
{
    height: inherit;
}
/* colocar en display flex los ol para que esten horizontalmente */
.header ol
{
    display: flex;
    height: inherit;
}
.header ol li
{
    height: inherit;
}
.header a
{
    display: flex;
    align-items:center;
    height: inherit;
    padding: 0 10px;
}
/* Quitando margen del figure */
figure
{
    margin: 0;
}
/* aplicando color al link a */
.header a
{
    color: white;
    text-decoration: none;
}
.flexbox
{
 display: flex;
 flex-wrap: wrap;
}
.box
{
    width: 50px;
    height:50px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 5px;
}
.footer
{
    color: white;
    background: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer img
{
    vertical-align: middle;
}
.footer a
{
    color: white;
    text-decoration: none;
}

.event-list
{
    display: flex;
    flex-wrap: wrap;
}
/* Estilizando event */
.event
{
    
    margin: 1%;
    width: 48%;
    /* arregla el cuadro para que no se encoja con el overflow */
    flex-shrink: 0;
    /* Adecuando un borde redondeado */
    border-radius: 10px;
    /* Arregla la imagen para que no dañe el borde redondeado */
    overflow: hidden;
    background: #f4fbff;
  
}
/* Adecuando las imagenes para que vayan correspondiente al tamaño */
.event img
{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
/* Adeacuando el cuadro del parrafo para que no se junte
 con la imagen sino que se coloque encima */
 .event-detail
 {
     margin: 20px 40px;
     background: white;
     margin-top: -40px;
     position: relative;
     /* añadiendo padding al parrafo para que se separe del margen */
     padding: 20px;
     text-align: center;
 }
 .event-description
 {
     text-align: left;
 }
 .event-url
 {
     border: 1px solid ;
     padding: 5px 20px;
     border-radius: 5px ;
     text-decoration: none;
     color: #056fff;
 }
 .event-list-title
 {
    margin-left: 20px;    
}
/* Realizando contacto del footer */
.contact
{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Añadiendo modo responsivo */
    flex-wrap: wrap;
}
Realizando division de social
 .social 
{
    
} 


/* Realizando los social link */
.social-link
{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    
}
/* .social-link.twitter
{
    background-image: url('../images/twitter.svg');
    background-size: 50px 50px;
}*/
.icon-twitter
{
    background-image: url('../fonts/icomoon.svg');
    background-size: 50px 50px;
}
.social-link.facebook
{
    background-image: url('../images/facebook.svg');
    background-size: 50px 50px;
}
.social-link.github
{
    background-image: url('../images/github.svg');
    background-size: 50px 50px;
}
.social-link.instagram
{
    background-image: url('../images/instagram.svg');
    background-size: 50px 50px;
}
/* estilizando form-email en input */
.form-email input
{
    border-color: gray;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    border-style: solid;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x:5px ;
}
/* estilizando form-email en button */
.form-email button
{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 5px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;

}
/* dandole fuente al h3 */
.form-email h3
{
    font-family:'Source sans pro', sans-serif;

}
/* estilizando container */
.container 
{
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
/* Ajustando video del html en modo responsivo */
.html-video
{
    width: 100%;
    height: auto;  
}
/* Ajustando con flexible-video */
.flexible-video
{
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    background: blue;
    position: relative;
}
/* Ajustando Video insertado desde youtube */
.youtube-video 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}
/* Creando el burguer-button */
.burger-button 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(0,0,0,.8);  
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 4;
    left: 5px;
    top: 5px;
    color: white;
}
/* Iniciando etapa responsiva del sitio web  */
/* Desktop First que empiece desde el media queries más grande */
@media screen  and (max-width:1023px)
{
    .event-list-title
    {
        margin-left: 0;
    }
    .portfolio
    {
        padding: 0;
    } 
    .container 
    {
        padding: 0 1em;
    }
    /* Elementos respnsivo de hero */
    .hero
    {
        /* Empleando altura dinamica con auto */
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
    
    }
    .hero-image
    {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }
    h1 
    {
        font-size: 2em;
        z-index: 2;
    }
}
@media screen  and (max-width:767px)
{
    h2 
    {
        font-size: 1.2em;
        margin: .5em 0;
    }
    /* Ajustando el menu de hamburgesa para que solo salga de esta pantalla hacia abajo */
    .burger-button 
    {
        display: block;
    }
    
    /* Ajustando el header de modo responsivo */
    .header
    {
        display: block;
        height: auto;
    }
    .header ol 
    {
        display: block;
    }
    .header ol li 
    {   
        display: block;
        height: 50px;
    }
    .header a 
    {
        justify-content: center;
        height: 40px;
        font-size: 2em;
        text-decoration: underline;
        margin-bottom:.5em;
    }
    .header .logo
    {
        text-align: center;
    }
    /* Ajustando el menu para que se independice y este suelto */
    .menu
    {
        position: fixed;
        background:rgba(5,111,255,.9);
        z-index: 3;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        /* height: 100vh; */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    /* Cuando de click al menu */
    .menu.is-active 
    {
        left: 0;
    }
    /* Elementos responsivos de la etiqueta project */
    .project 
    {
        display: block;
    }
    .project-imageContainer
    {
        width: auto;
        text-align: center;
    }
    .project-details
    {
        width: auto;
        /* font-size: 16px; */
    }
    .project-course .project-date .project-course
    {
        margin: .4em 0;
    }
    .project-title
    {
        font-size: 1.5em;
        margin-bottom: .3em;
    }
    .project-url
    {
        font-size: 1em;
    }
    .project-course
    {
        font-size: .7em;
    }
    .project-date
    {
        font-size: 1em;
    }
    .project-description
    {
        font-size: 1em;
    }
    /* Elementos responsivo de la etiqeta event */
    .event
    {
        width: auto;
        flex-shrink: initial;
    }
    .event img
    {
        width: 100%;
    }
}
@media screen  and (max-width:480px)
{

    h1 
    {
        font-size: 1.5em;
    }
    .project-details
    {
        width: auto;
        font-size: 14px;
    }
    .event-detail
    {
        margin: -2em .5em .5em ;
        padding: 1em;
    }
    .contact
    {
        height: auto;
        padding: 1em 0;
        display: block;
        text-align: center;
    }
    .form-email button
    {
        margin: 1em auto;
    }
    .form-email h3 
    {
        margin-top: 0;
    }
    .footer
    {
        display: block;
        text-align: center;
        border: 1px solid transparent;
    }
}
@media screen and (max-width:320px)
{
    h1 
    {   background: rgba(0,0,0,.5);
        font-size: 1.2em;
    }
    .hero
    {
        padding: 2em 1em;
    }


}